body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: white;
}

.nav-links {
    list-style: none;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    margin: 0;
}

.nav-links li {
    margin: 0 15px;
    font-family: 'Times New Roman', Times, serif;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 30px; /* Larger font size */
    padding: 10px;
    display: block;
}

.nav-links a:hover {
    color: #aaa;
}

.header-container {
    position: relative;
    width: 100%;
    height: 100vh;
    text-align: center;
}

.profile-picture-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 10;
    width: 350px; /* 300px for image + 10px border on each side */
    height: 350px; /* 300px for image + 10px border on each side */
    background-color: #000;
    border-radius: 50%;
}

.profile-picture {
    border-radius: 50%;
    width: 340px;
    height: 340px;
    border: 10px solid white;
    object-fit: cover;
}

h1 {
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 70px;
    font-family: 'Times New Roman', Times, serif;
}

p {
    position: absolute;
    top: 125%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.description {
    font-size: 40px; /* Adjust font size as needed */
    font-family: 'EB Garamond', serif;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 0.10em; /* Adjust letter spacing as needed */
    margin-top: 10px;
    white-space: nowrap; /* Ensure text stays on one line */
}

.orbit {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 300px;
    height: 300px;
    margin: -100px 0 0 -100px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    animation: rotate 10s linear infinite;
    z-index: 1;
}

.center-dot {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    margin: -5px 0 0 -5px; /* Offset to center the dot */
    z-index: 2; /* Ensure it is above other elements */
}

.orbit2 {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin: -150px 0 0 -150px;
    animation-duration: 15s;
}

.orbit3 {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin: -200px 0 0 -200px;
    animation-duration: 20s;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: white;
}

.nav-links {
    list-style: none;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    margin: 0;
}

.nav-links li {
    margin: 0 15px;
    font-family: 'Times New Roman', Times, serif;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 30px; /* Larger font size */
    padding: 10px;
    display: block;
}

.nav-links a:hover {
    color: #aaa;
}

.header-container {
    position: relative;
    width: 100%;
    height: 100vh;
    text-align: center;
}

.profile-picture-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 10;
    width: 350px; /* 300px for image + 10px border on each side */
    height: 350px; /* 300px for image + 10px border on each side */
    background-color: #000;
    border-radius: 50%;
}

.profile-picture {
    border-radius: 50%;
    width: 340px;
    height: 340px;
    border: 10px solid white;
    object-fit: cover;
}

h1 {
    position: absolute;
    top: 11%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 70px;
    font-family: 'Times New Roman', Times, serif;
}

p {
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.description {
    font-size: 40px; /* Adjust font size as needed */
    font-family: 'EB Garamond', serif;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 0.10em; /* Adjust letter spacing as needed */
    margin-top: 10px;
    white-space: nowrap; /* Ensure text stays on one line */
}

.orbit {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 200px;
    height: 200px;
    margin: -100px 0 0 -100px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    animation: rotate 10s linear infinite;
    z-index: 1;
}

.center-dot {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    margin: -5px 0 0 -5px; /* Offset to center the dot */
    z-index: 2; /* Ensure it is above other elements */
}

.orbit2 {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 300px;
    height: 300px;
    margin: -150px 0 0 -150px;
    animation-duration: 15s;
}

.orbit3 {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin: -180px 0 0 -180px;
    animation-duration: 18s;
}

@keyframes rotate {
    0% { transform: rotate(0deg) translateX(200px) rotate(0deg); }
    100% { transform: rotate(360deg) translateX(200px) rotate(-360deg); }
}

.orbit2 .planet2 {
    transform: translate(-50%, -50%) translateX(300px); /* Centered and translated */
    animation: rotate2 15s linear infinite;
}

@keyframes rotate2 {
    0% { transform: rotate(0deg) translateX(300px) rotate(0deg); }
    100% { transform: rotate(360deg) translateX(300px) rotate(-360deg); }
}

.orbit3 .planet3 {
    transform: translate(-50%, -50%) translateX(350px); /* Centered and translated */
    animation: rotate3 20s linear infinite;
}

@keyframes rotate3 {
    0% { transform: rotate(0deg) translateX(300px) rotate(0deg); }
    100% { transform: rotate(360deg) translateX(300px) rotate(-360deg); }
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #000;
    color: white;
    font-size: 5px; /* Much smaller font size */
}

/* Responsive Styles */
@media (max-width: 768px) {
    .profile-picture-container {
        top: 40%;
        width: 80%;
        height: auto;
        padding: 10px;
    }
    .profile-picture {
        width: 200px;
        height: 200px;
    }
    h1 {
        font-size: 30px;
    }
    .description {
        font-size: 30px;
    }
    .orbit {
        width: 200px;
        height: 200px;
        margin: -100px 0 0 -100px;
    }
    .orbit2 {
        width: 300px;
        height: 300px;
        margin: -150px 0 0 -150px;
    }
    .orbit3 {
        width: 400px;
        height: 400px;
        margin: -200px 0 0 -200px;
    }
    .planet, .planet2, .planet3 {
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 480px) {
    .nav-links {
        flex-direction: column;
    }
    .nav-links li {
        margin: 10px 0;
    }
    .nav-links a {
        font-size: 20px;
    }
    h1 {
        font-size: 25px;
    }
    .description {
        font-size: 25px;
    }
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #000;
    color: white;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.red-circle {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    margin-right: 10px;
}

.white-hole {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    animation: expand 3s forwards;
}

@keyframes expand {
    0% {
        width: 100px;
        height: 100px;
    }
    100% {
        width: 8000px;
        height: 8000px;
        transform: translate(-50%, -50%) scale(0);
    }
}

.spiral-in {
    animation: spiral-in-animation 2s forwards;
}

@keyframes spiral-in-animation {
    0% {
        transform: translate(0, 0) rotate(0deg) scale(1);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%) rotate(720deg) scale(0);
        opacity: 0;
    }
}


footer {
    text-align: center;
    padding: 10px;
    background-color: #000;
    color: white;
    font-size: 5px; /* Much smaller font size */
}

/* Responsive Styles */
@media (max-width: 768px) {
    .profile-picture-container {
        top: 40%;
        width: 80%;
        height: auto;
        padding: 10px;
    }
    .profile-picture {
        width: 200px;
        height: 200px;
    }
    h1 {
        font-size: 30px;
    }
    .description {
        font-size: 30px;
    }
    .orbit {
        width: 200px;
        height: 200px;
        margin: -100px 0 0 -100px;
    }
    .orbit2 {
        width: 300px;
        height: 300px;
        margin: -150px 0 0 -150px;
    }
    .orbit3 {
        width: 400px;
        height: 400px;
        margin: -200px 0 0 -200px;
    }
    .planet, .planet2, .planet3 {
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 480px) {
    .nav-links {
        flex-direction: column;
    }
    .nav-links li {
        margin: 10px 0;
    }
    .nav-links a {
        font-size: 20px;
    }
    h1 {
        font-size: 25px;
    }
    .description {
        font-size: 25px;
    }
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #000;
    color: white;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.red-circle {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    margin-right: 10px;
}

.white-hole {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    animation: expand 3s forwards;
}

@keyframes expand {
    0% {
        width: 100px;
        height: 100px;
    }
    100% {
        width: 8000px;
        height: 8000px;
        transform: translate(-50%, -50%) scale(0);
    }
}

.spiral-in {
    animation: spiral-in-animation 2s forwards;
}

@keyframes spiral-in-animation {
    0% {
        transform: translate(0, 0) rotate(0deg) scale(1);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%) rotate(720deg) scale(0);
        opacity: 0;
    }
}
